<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>主頁</title>

</head>
<body>

<!-- sidebar -->
<div id="sidebar" th:replace="sidebar ::　sidebar"></div>

<!-- 分頁 -->
<div id="tabs">
	<ul id="tabs-container">
		<li th:each="tab, stat : ${tabs}" th:classappend="${stat.index == 0} ? 'active'" 
            	th:text="${tab.title}" th:data-url="${tab.url}"></li>
	</ul>
</div>

<!-- 分頁內容 -->
<div id="tab-content">
	<!-- 分頁內容生成位置 -->
	<h1>hi</h1>
</div>

<script th:inline="javascript">
	document.querySelectorAll('#sidebar a').forEach(item => {
		item.addEventListener('click', function(event){
			event.preventDefault();
			const pageName = this.getAttribute('data-page');
			
			// 檢查分頁是否存在
			const existingTab = document.querySelector('#tabs-container li[data-page="${pageName}"]');
			if(!existngTab){
				const newTab = document.createElement('li');
				newTab.setAttribute('data-page', pageName);
				document.getElementById('tabs-container').appendChild(newTab);
			
				newTab.querySelector('.close-tab').addEventListner('click', function(event){
					event.stopPropagation();
					newTab.remove();
					document.getElementById('tab-content').innerHTML = '';
				});
				
				switchTab(pageName);
			}else{
				switchTab(pageName);
			}
		});
	});
	
	function switchTab(pageName) {
        fetch(`/loadPageContent?page=${pageName}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('tab-content').innerHTML = html;
            })
            .catch(error => {
                console.error('Error loading page content:', error);
            });
	}

</script>

</body>
</html>