<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.product-image {
	width: 50px ;
	height: 50px ;
	object-fit: cover; /* 確保圖片被裁剪成合適的比例，不會拉伸 */
	border: 1px solid #ddd; /* 增加邊框，讓圖片更清晰 */
}
</style>

<head th:include="CMShead"></head>


<body>


	<div class="container">
		<h1 class="text-center">商品管理</h1>
		
		 <div class="select-category mb-4">
            <label for="category" class="form-label">選擇分類:</label>
            <select class="form-select" id="category" onchange="loadProductsByCategory()">
                <option value="1">男裝</option>
                <option value="2">女裝</option>
                <option value="3">童裝</option>
                
            </select>
        </div>

		<!-- 查詢表單 -->
		<div class="search-bar mb-4">
			<form action="#" th:action="@{/productlist}" method="get">
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="key"
						placeholder="輸入商品名稱">
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">搜尋</button>
					</div>
				</div>
			</form>
		</div>

		<!-- 商品列表表格 -->
		<table class="table table-bordered mt-3 ">
			<thead class="table-secondary">
				<tr>
					<th></th>
					<th>名稱</th>
					<th>版型</th>
					<th>種類</th>
					<th>價格</th>
					<th></th>
				</tr>
			</thead>
			<tbody id = "product-list" th:each="product : ${products}">
				<tr>
					<td style="width: 50px; height: 50px;"><img
						th:src="'data:image/jpeg;base64,' + ${product.image}" alt="商品圖片"
						class="product-image"></td>
					<td th:text="${product.name}">產品名稱</td>
					<td th:text="${product.type.name}">版型</td>
					<td th:text="${product.category.name}">種類</td>
					<td th:text="${product.price}">價格</td>
					<td>
						<button class="btn btn-primary btn-sm"
							th:onclick="'toggleVariants(' + ${product.id} + ')'">查看</button>
						<button class="btn btn-danger btn-sm"
							th:onclick="'deleteProduct(' + ${product.id} + ')'">刪除</button>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<div th:id="'variant-container-' + ${product.id}"
							class="variant-container">
							<!-- 變體內容將在這裡動態加載 -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script th:inline="javascript">
	
	
	
	
    function toggleVariants(productId) {
        const variantContainer = document.getElementById(`variant-container-${productId}`);
        
        if (variantContainer.style.display === 'none' || variantContainer.style.display === '') {
            variantContainer.style.display = 'block';
            variantContainer.innerHTML = '載入中...';

            fetch(`/product/${productId}/variants`)
                .then(response => response.json())
                .then(variants => {
                    if (variants.length === 0) {
                        variantContainer.innerHTML = '<p>沒有找到變體。</p>';
                        return;
                    }

                    let variantTable = `<table class="table table-sm table-bordered variant-table">
                                            <thead>
                                                <tr>
                                                    <th>顏色</th>
                                                    <th>尺寸</th>
                                                    <th>庫存</th>
                                                    <th>價格</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>`;

                                            variants.forEach(variant => {
                                            variantTable += `<tr>
                                                                <td>${variant.color.name}</td>
                                                                <td>${variant.size.name}</td>
                                                                <td><input type="number" id="stock-${variant.id}" value="${variant.stock}" /></td>
                                                                <td><input type="number" id="price-${variant.id}" value="${variant.price}" /></td>
                                                                <td>
                                                                    <button class="btn btn-primary btn-sm" onclick="submitVariantUpdate(${variant.id})">提交</button>
                                                                </td>
                                                            </tr>`;
                                        });


                    variantTable += '</tbody></table>';
                    variantContainer.innerHTML = variantTable;
                })
                .catch(error => {
                    console.error('Error fetching variants:', error);
                    variantContainer.innerHTML = '<p>加載變體時發生錯誤。</p>';
                });
        } else {
            variantContainer.style.display = 'none';
        }
    }
    
 // 顯示編輯彈窗
   function submitVariantUpdate(variantId) {
    	 const newStock = document.getElementById(`stock-${variantId}`).value;
    	 const newPrice = document.getElementById(`price-${variantId}`).value;

    	 const requestBody = {
    		        stock: newStock,
    		        price: newPrice
    		    };

            fetch(`product-variants/update/${variantId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => {
                if (response.ok) {
                    // 更新成功，更新頁面顯示的庫存和價格
                    document.getElementById(`stock-${variantId}`).innerText = newStock;
                    document.getElementById(`price-${variantId}`).innerText = newPrice;
                    alert("更新成功！");
                } else {
                    alert("更新失敗！");
                }
            })
            .catch(error => {
                console.error('Error updating variant:', error);
                alert("更新過程中發生錯誤！");
            });
        }
 
   function loadProductsByCategory() {
	    var categoryId = document.getElementById("category").value;
	    fetch(`/products/category/${categoryId}`)
	        .then(response => response.json())
	        .then(products => {
	            var productList = document.getElementById('product-list');
	            productList.innerHTML = ''; // 清空現有的列表

	            console.log('選擇的分類ID:', categoryId);
	            console.log('取得的商品:', products);

	            if (products.length === 0) {
	                productList.innerHTML = '<tr><td colspan="5">沒有找到商品。</td></tr>';
	                return;
	            }

	            products.forEach(product => {
	                // 檢查每個商品的分類ID是否與選擇的categoryId一致
	                if (product.category.id !== parseInt(categoryId)) {
	                    console.warn(`商品 ${product.name} 的分類ID與選擇的不一致`);
	                    return; // 跳過這個不符合的商品
	                }

	                let productRow = `<tr>
	                                    <td style="width: 50px; height: 50px;">
	                                        <img src="data:image/jpeg;base64,${product.image}" alt="商品圖片" class="product-image">
	                                    </td>
	                                    <td>${product.name}</td>
	                                    <td>${product.type.name}</td>
	                                    <td>${product.category.name}</td>
	                                    <td>${product.price}</td>
	                                    <td>
	                                        <button class="btn btn-primary btn-sm" onclick="toggleVariants(${product.id})">查看</button>
	                                        <button class="btn btn-danger btn-sm" onclick="deleteProduct(${product.id})">刪除</button>
	                                    </td>
	                                  </tr>
	                                  <tr>
	                                    <td colspan="5">
	                                        <div id="variant-container-${product.id}" class="variant-container" style="display: none;">
	                                            <!-- 變體內容將在這裡動態加載 -->
	                                        </div>
	                                    </td>
	                                  </tr>`;

	                productList.innerHTML += productRow;
	            });
	        })
	        .catch(error => {
	            console.error('Error fetching products:', error);
	            productList.innerHTML = '<tr><td colspan="5">加載商品時發生錯誤。</td></tr>';
	        });
	}


    </script>

	<footer th:include="CMSfooter"></footer>
</body>
</html>
