<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
.product-image {
	width: 50px;
	height: 50px;
	object-fit: cover; /* 確保圖片被裁剪成合適的比例，不會拉伸 */
	border: 1px solid #ddd;
	height: 50px; /* 增加邊框，讓圖片更清晰 */
}
</style>

<head th:include="CMShead"></head>


<body>


	<div class="container">
		<h1 class="text-center">商品管理</h1>

		<div class="select-category mb-4">
			<label for="category" class="form-label">選擇分類:</label> <select
				class="form-select" id="category"
				onchange="loadProductsByCategory()">
				<option value="1">男裝</option>
				<option value="2">女裝</option>
				<option value="3">童裝</option>

			</select>
		</div>

		<!-- 查詢表單 -->
		<div class="search-bar mb-4">
			<form action="#" class="search-form" onsubmit="return false;">
				<div class="form-group">
					<span class="icon ion-ios-search"></span> <input type="text"
						class="form-control" id="search-input" placeholder="搜尋...">
				</div>
			</form>
		</div>

		<!-- 商品列表表格 -->
		<table class="table table-bordered mt-3 ">
			<thead class="table-secondary">
				<tr>
					<th></th>
					<th>名稱</th>
					<th>版型</th>
					<th>種類</th>
					<th>價格</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="product-list">
				<!-- 商品列表將通過 JavaScript 動態加載 -->
			</tbody>
		</table>
	</div>





	<script th:inline="javascript">
    function toggleVariants(productId) {
        const variantContainer = document.getElementById(`variant-container-${productId}`);
        
        if (variantContainer.style.display === 'none' || variantContainer.style.display === '') {
            variantContainer.style.display = 'block';
            variantContainer.innerHTML = '載入中...';

            fetch(`/product/${productId}/variants`)
                .then(response => response.json())
                .then(variants => {
                    if (variants.length === 0) {
                        variantContainer.innerHTML = '<p>沒有找到變體。</p>';
                        return;
                    }

                    let variantTable = `<table class="table table-sm table-bordered variant-table">
                                            <thead>
                                                <tr>
                                                    <th>顏色</th>
                                                    <th>尺寸</th>
                                                    <th>庫存</th>
                                                    <th>價格</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>`;

                                            variants.forEach(variant => {
                                            variantTable += `<tr>
                                                                <td>${variant.color.name}</td>
                                                                <td>${variant.size.name}</td>
                                                                <td><input type="number" id="stock-${variant.id}" value="${variant.stock}" /></td>
                                                                <td><input type="number" id="price-${variant.id}" value="${variant.price}" /></td>
                                                                <td>
                                                                    <button class="btn btn-primary btn-sm" onclick="submitVariantUpdate(${variant.id})">提交</button>
                                                                </td>
                                                            </tr>`;
                                        });


                    variantTable += '</tbody></table>';
                    variantContainer.innerHTML = variantTable;
                })
                .catch(error => {
                    console.error('Error fetching variants:', error);
                    variantContainer.innerHTML = '<p>加載變體時發生錯誤。</p>';
                });
        } else {
            variantContainer.style.display = 'none';
        }
    }
    
 // 顯示編輯彈窗
  const searchInput = document.getElementById('search-input');
   searchInput.addEventListener('input', function() {
       const query = searchInput.value;
       searchProducts(query);
   });
   
   function searchProducts(query) {
	        const productList = document.getElementById('product-list');
	    fetch(`/products/search?key=${encodeURIComponent(query)}`, {
	        method: 'GET',
	        headers: {
	            'Content-Type': 'application/json'
	        }
	    })
	    .then(response => response.json())
	    .then(products => {
	        productList.innerHTML = ''; 
	        
	        if (products.length === 0) {
                productList.innerHTML = '<tr><td colspan="5">沒有找到商品。</td></tr>';
                return;
            }

            products.forEach(product => {
               
               
                

                let productRow = `<tr>
                                    <td style="width: 50px; height: 50px;">
                                        <img src="data:image/jpeg;base64,${product.image}" alt="商品圖片" class="product-image">
                                    </td>
                                    <td>${product.name}</td>
                                    <td>${product.type.name}</td>
                                    <td>${product.category.name}</td>
                                    <td>${product.price}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" onclick="toggleVariants(${product.id})">查看</button>
                                        <button class="btn btn-danger btn-sm" onclick="deleteProduct(${product.id})">刪除</button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="5">
                                        <div id="variant-container-${product.id}" class="variant-container" style="display: none;">
                                            <!-- 變體內容將在這裡動態加載 -->
                                        </div>
                                    </td>
                                  </tr>`;

                productList.innerHTML += productRow;
            });
        })
        .catch(error => {
            console.error('Error fetching products:', error);
            productList.innerHTML = '<tr><td colspan="5">加載商品時發生錯誤。</td></tr>';
        });
}

	        
	        
	        
 
 
   function submitVariantUpdate(variantId) {
    	 const newStock = document.getElementById(`stock-${variantId}`).value;
    	 const newPrice = document.getElementById(`price-${variantId}`).value;

    	 const requestBody = {
    		        stock: newStock,
    		        price: newPrice
    		    };

            fetch(`product-variants/update/${variantId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => {
                if (response.ok) {
                    // 更新成功，更新頁面顯示的庫存和價格
                    document.getElementById(`stock-${variantId}`).innerText = newStock;
                    document.getElementById(`price-${variantId}`).innerText = newPrice;
                    alert("更新成功！");
                } else {
                    alert("更新失敗！");
                }
            })
            .catch(error => {
                console.error('Error updating variant:', error);
                alert("更新過程中發生錯誤！");
            });
        }
 
   function loadProductsByCategory() {
	    var categoryId = document.getElementById("category").value;
	    fetch(`/products/category/${categoryId}`)
	        .then(response => response.json())
	        .then(products => {
	            var productList = document.getElementById('product-list');
	            productList.innerHTML = ''; // 清空現有的列表

	            console.log('選擇的分類ID:', categoryId);
	            console.log('取得的商品:', products);

	            if (products.length === 0) {
	                productList.innerHTML = '<tr><td colspan="5">沒有找到商品。</td></tr>';
	                return;
	            }

	            products.forEach(product => {
	               
	               
	                

	                let productRow = `<tr>
	                                    <td style="width: 50px; height: 50px;">
	                                        <img src="data:image/jpeg;base64,${product.image}" alt="商品圖片" class="product-image">
	                                    </td>
	                                    <td>${product.name}</td>
	                                    <td>${product.type.name}</td>
	                                    <td>${product.category.name}</td>
	                                    <td>${product.price}</td>
	                                    <td>
	                                        <button class="btn btn-primary btn-sm" onclick="toggleVariants(${product.id})">查看</button>
	                                        <button class="btn btn-danger btn-sm" onclick="deleteProduct(${product.id})">刪除</button>
	                                    </td>
	                                  </tr>
	                                  <tr>
	                                    <td colspan="5">
	                                        <div id="variant-container-${product.id}" class="variant-container" style="display: none;">
	                                            <!-- 變體內容將在這裡動態加載 -->
	                                        </div>
	                                    </td>
	                                  </tr>`;

	                productList.innerHTML += productRow;
	            });
	        })
	        .catch(error => {
	            console.error('Error fetching products:', error);
	            productList.innerHTML = '<tr><td colspan="5">加載商品時發生錯誤。</td></tr>';
	        });
	}
  
   
// 页面加载完成后，加载默认分类的商品列表
   document.addEventListener('DOMContentLoaded', function() {
       loadProductsByCategory();
   });


    </script>

	<footer th:include="CMSfooter"></footer>
</body>
</html>
